@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;  */
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 6, 18, 38;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 6, 18, 38;
    --background-end-rgb: 6, 18, 38;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
}

/* To check size of containers. Dont remove. */
.guide {
  border: 1px solid white;
}

.mont {
  font-family: var(--font-mont);
}

/*7, 23, 47*/
/*7, 23, 47*/