.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: auto;
  height: auto;
  background: white;
  color: white;
  z-index: 2000;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal-container {
  position: absolute;
  z-index: 1000;
}

.modalHeader {
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding-top: 18px;
  color: black;
  font-family: var(--font-mont);
  font-style: bold;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
}

.modalContent {
  flex-direction: column;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 14px;
  font-family: var(--font-mont);
  font-style: bold;
  color: black;
  text-align: center;
}

.modalActions {
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.confirmBtn {
  margin-top: 5px;
  margin-bottom: 15px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: #0047ff;
  transition: all 0.25s ease;
}

.confirmBtn:hover {
  box-shadow: none;
  transform: translateY(-5px);
  background: #1d90f4;
}
